<h1 class="result">Result</h1>
<%if @response == "win"%>
  <p><strong>Congratulations!</strong> <%=@word%> is a valid English word!</p>
<%elsif @response == "invalid"%>
  <p>Sorry but <%=@word%> can't be built out of <%=@letters.join(', ')%></p>
<%else%>
  <p> Sorry but <%=@word%> does not seem to be a valid english word...</p>
<%end%>
<br><%= link_to "Play again", "/new" %>